.myfooter{
    background-color: var(--color1);
    height: max-content;
}

.myfooter > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 225px;
}

.myfooter > .container > nav{
    display: flex;
    flex-direction: column;
}

.enlace-footer{
    padding: 5px;
}

.enlace-footer > a{
    display: block;
    margin-bottom: 5px;
    border: none;
    padding: 0;
}

.line{
    display: block;
    width: 30%;
    height: 1px;
    background-color: var(--color3);
}

.enlace-footer:hover .line{
    width: 110%;
    transition: width 0.3s;
}

.enlace-footer:hover a{
    transform: scale(1.05) translateX(10px);
    transition: transform 0.3s;
}

.designer{
    position: relative;
    user-select: none;
}

.designer > h4{
    margin: auto;
    text-align: center;
    z-index: 10;
    position: relative;
    width: 60%;
    color: var(--color3);
}

.designer > img{
    width: 300px;
    object-fit: cover;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.redes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.redes > h5{
    color: var(--color3);
    margin-bottom: 10px;
}

.links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links > a > img{
    width: 40px;
}

.links > a{
    border: none;
    display: block;
}

.links > a:hover > img{
    transform: scale(1.1) rotate(5deg);
    transition: transform 0.3s;
}

.separador{
    width: 2px;
    height: 80%;
    background-color: var(--color3);
}

@media screen and (max-width: 750px) {
    .designer > img {
        width: 200px;
    }
}

@media screen and (max-width: 500px) {
    .myfooter > .container {
        display: flex;
        flex-direction: column;
        height: max-content;
    }
    .myfooter > .container > nav {
        margin: 20px 0;
    }
    .separador {
        width: 80%;
        height: 2px;
    }
    .designer {
        margin: 40px 0;
    }
    .designer > img {
        width: 180px;
    }

    .redes {
        margin: 20px 0;
    }
}